<main class="container">

  <mat-card class="login-card">
    <div>
      <h3><strong>Login</strong></h3>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field>
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
          autocomplete="off"
        />
  
        <mat-error *ngIf="email?.invalid && email?.dirty">
          You must enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field [color]="email?.valid">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          autocomplete="off"
        />
  
        <mat-error *ngIf="password?.invalid && password?.dirty">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>

      <mat-error class="server-error">{{ serverMessage }}</mat-error>
  
      <button
        mat-raised-button
        class="submit-button"
        color="primary"
        type="submit"
        [disabled]="form?.invalid || loading"
      >
        Submit
      </button>
    </form>
  
</mat-card>


</main>





